body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin: 0;
}

.quiz-container {
  /*	max-width: 500px; */
  background-color: #f1f1f1;
  border-radius: 0;
  padding: 10px;
  /*	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  /*	width: 20%; */
  min-height: calc(100vh - 76px);
}
#question-No {
  text-align: center;
}

h1 {
  text-align: center;
}

#question-container {
  margin-bottom: 20px;
}

#question-text {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: #f8f8ff;
}

#answer-buttons {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  grid-gap: 10px;
}

button,
.button {
  height: auto;
  min-height: 40px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 8px !important;
  cursor: pointer;
  align-items: center;
  padding: 14px 25px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home-button {
  border-radius: 5px !important;
  height: auto;
  font-size: 16px;
  background-color: #758aab;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
}
a {
  text-decoration: none;
}

button:hover {
  background-color: rgba(206, 206, 206, 0.2);
  color: #fff;
}

#controls-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#timer-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#timer-text {
  font-size: 17px;
  text-align: center;
  width: 100%;
}

#timer {
  font-weight: bold;
  margin-left: 5px;
}
